*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body,
h1,
h2,
p {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button,
a {
  font: inherit;
}
